<section class=" mx-auto p-1 bg-color-background-logado flex justify-center items-center rounded-lg">
  <main class="sombra w-full border-2 border-color-border-gray rounded-lg text-white relative">
    <div class="absolute top-2 right-2">
      <button
        (click)="closeModal()" class="text-color-font-gray">
        <mat-icon aria-hidden="false" fontIcon="close" class="text-color-font-gray h-10 w-10"></mat-icon>
      </button>
    </div>

    <section class="order-summary">


    </section>
  </main>
</section>
