<section class=" mx-auto p-1 bg-color-background-logado flex justify-center items-center rounded-lg">
  <main class="sombra w-full border-2 border-color-border-gray rounded-lg text-white relative">
    <div class="absolute top-2 right-2">
      <button
        (click)="closeModal()" class="text-color-font-gray">
        <mat-icon aria-hidden="false" fontIcon="close" class="text-color-font-gray h-10 w-10"></mat-icon>
      </button>
    </div>

    <section class="order-summary">
      <article class="product-article" *ngFor="let product of productsOrder$ | async">
        <p class="product-name">{{product.product.name}}</p>
        <div class="product-operation">
          <button class="button-icon" (click)="update('minus', product.product.id.toString())"
          >
            <span class="material-icons">remove</span>
          </button>
          <p>{{product.qty}}</p>
          <button class="button-icon" (click)="update('add', product.product.id.toString())"
          >
            <span class="material-icons">add</span>
          </button>
        </div>
        <p class="product-price">{{product.product.price * product.qty | currency }}</p>
        <span class="material-icons icon" (click)="delete(product.product.id.toString())">delete</span>
      </article>
      <div class="total-price">
        <p>Total</p>
        <p>{{total$ | async | currency}}</p>
      </div>
    </section>
  </main>
</section>
