.logado {
  margin-top: -10px;
}

.cadastrarNome {
  display: flex;
  flex-direction: column;
}

.input-button-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
}

.input-wrapper {
  flex-grow: 1;
}

.button-wrapper {
  margin-left: 10px;
  margin-top: 10px;
}
.close {
  font-size: 24px;
}
