main{
  box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.75);
}
h3{
  font-size: 28px;
}

button:hover {
  transform: scale(1.02);
  opacity: 1;
}

input:focus {
  outline: none;
}

.align-self-center {
  align-self: center;
}
.content__cadastro {
  /* Outras propriedades existentes */
  border: 2px solid #333333; /* Exemplo de cor laranja; ajuste conforme necessário */
  border-radius: 16px; /* Ajuste o raio da borda conforme desejar */
}
.cadastrarNome {
  display: flex;
  flex-direction: column;
}

.input-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  flex-grow: 1;
}

.button-wrapper {
  margin-left: 08px;
  margin-top: 08px;
}
