<section class="container__registra-produtos pr-1 pl-1 pb-5 bg-color-background-logado">
  <div
    class="container__main max-w-[1000px] w-full h-[500px] bg-color-main border-2 border-color-border-gray rounded-lg">
    <div class="container_texto text-left p-5">
      <section class="nomeCliente">
        <h2 *ngIf="nomeCliente && !showInput" class="text-color-font-orange text-left mb-3">
          Cliente: {{ nomeCliente }}
          <em class="text-white outline-none border-b-2 border-color-font-gray">Mesa {{ mesaId }}</em>
        </h2>
        <div class="flex justify-between items-center" *ngIf="showInput">
          <input [(ngModel)]="nomeCliente" type="text" placeholder="Digite o nome do cliente"
            class="p-1 w-full max-w-[80%] h-[50px] rounded-l-md text-white bg-transparent border-2 border-color-border-gray focus:outline-none">
          <button (click)="registerNameCliente()"
            class="p-1 bg-color-font-orange text-white rounded-r-md border-2 border-color-font-orange h-[50px] w-[20%]">
            Cadastrar
          </button>
        </div>
      </section>

      <div class="container__total">

        <a href="/"
          class="btn btnFinalizar text-xl text-color-font-white text-center bg-color-background p-2 hover:bg-color-background-logado hover:text-color-font-white block">
          Finalizar pedido
        </a>
      </div>
    </div>
  </div>
</section>
