<div class="pl-5 pr-5 text-white flex items-center justify-between">
  <div class="flex items-center">
    <div *ngIf="selectedProducts.length > 0">
      <ul>
        <li *ngFor="let item of selectedProducts">
          {{ item.product.name }} - Quantidade: {{ item.quantity }} - Preço: R$ {{ item.product.price }}
        </li>
      </ul>
    </div>
  <!-- Ícone de deletar -->
  <div class="delt items-center rounded-3xl border border-color-gray-icon">
    <mat-icon aria-hidden="false" fontIcon="delete" class="matIconEdit text-2xl text-color-font-gray"></mat-icon>
  </div>
  <div *ngIf="selectedProducts.length === 0">
    Nenhum produto selecionado.
  </div>
</div>


