h4, h5{
  font-size: 20px;
  margin: 0px;
}

.container__finalizar-pedido {
  margin-top: 20px;
  box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.75);
  transition: transform 0.3s ease-in-out;
}
.container__finalizar-pedido:hover {
  transform: translateY(-5px);
}
