<section class="container__finalizar-pedido  border-2 border-color-font-gray rounded-lg">
  <header class="text-left p-5">
    <section class="nomeCliente">
      <h2 class="text-white mb-3 border-b-2 border-color-border-gray flex justify-between items-center">
        Cliente: {{ nomeCadastrado || nomeCliente || '...' }}
        <em class="text-color-font-gray">Mesa {{ mesaId }}</em>
      </h2>
    </section>
  </header>

  <main class="container__registra-produtos px-1 flex flex-col">
    <div class="max-w-[850px] w-full rounded-lg flex flex-col justify-between mx-auto">
      <section class="order-section px-4 py-2">
        <div *ngFor="let item of selectedProducts" class="flex justify-between items-center mb-2  border-b border-color-border-gray">
          <div class="flex items-center justify-between w-full">
            <div class="flex items-center">
              <h4 class="text-white">Nome do produto: {{ item.product.name }} </h4>
              <h5 class="text-white">R$ {{item.product.price }} </h5>
            </div>
            <div class="flex items-center">
              <div class="p-1 bg-color-header flex items-center rounded-lg mr-2">
                <app-btn-toggle
                ></app-btn-toggle>
              </div>
              <button (click)="removeItem()" class="bg-color-background hover:bg-color-background p-2 rounded flex items-center justify-center">
                <mat-icon aria-hidden="false" class="text-white">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="container__total mt-6">
          <app-total-pedido class="text-white" [totalPedido]="totalPedido"></app-total-pedido>
        </div>
      </section>
    </div>
  </main>

  <footer class="p-5 grid gap-4">
    <div class="grid grid-cols-2 gap-2">
      <div class="flex items-center">
        <input [(ngModel)]="nomeCliente" type="text" placeholder="Digite o nome do cliente"
          class="p-2 h-12 w-[350px] bg-transparent text-white border-2 border-color-border-gray rounded-l-md focus:outline-none">
        <button (click)="registerNameCliente()"
          class="p-2 text-white bg-color-btn hover:bg-color-main h-12 rounded-r-md ml-auto">
          Cadastrar
        </button>
      </div>

      <a href="/"
        class="text-white text-center border border-color-border-gray bg-color-btn hover:bg-color-main p-3 rounded ">
        Enviar pedido
      </a>
    </div>
  </footer>
</section>
