<section class="container__registra-produtos pr-1 pl-1 bg-color-background-logado min-h-screen flex ">
  <main class="container__main max-w-[1000px] w-full mx-auto mt-4">
    <div class="container__card grid grid-cols-3 gap-1">

      <div class="container__card-produtos relative border-2 border-color-border-gray rounded-lg flex items-center justify-between">
        <img src="../../../../../assets/images/burger.svg" alt="Imagem da produtos" >
          <div class="texto text-left">
            <h3 class="text-color-font-white">Cheese burger</h3>
            <h4 class="text-color-font-gray">Cheese burger</h4>
            <span class="text-color-font-white">R$ 24.00</span>
          </div>

          <div class="container__toggle bg-color-header flex items-center justify-between rounded-lg ">
            <div class="product-counter ">
              <button class="decrease-btn bg-color-border-gray p-2"><i class="fas fa-minus text-color-font-white"></i></button>
              <span class="quantity text-color-font-white px-1">1</span>
              <button class="increase-btn bg-color-border-gray p-2"><i class="fas fa-plus text-color-font-white"></i></button>
            </div>
          </div>
      </div>

      <div class="container__card-produtos relative border-2 border-color-border-gray rounded-lg flex items-center justify-between">
        <img src="../../../../../assets/images/burger.svg" alt="Imagem da produtos" >
          <div class="texto text-left">
            <h3 class="text-color-font-white">Cheese burger</h3>
            <h4 class="text-color-font-gray">Cheese burger</h4>
            <span class="text-color-font-white">R$ 24.00</span>
          </div>

          <div class="container__toggle bg-color-header flex items-center justify-between rounded-lg ">
            <div class="product-counter ">
              <button class="decrease-btn bg-color-border-gray p-2"><i class="fas fa-minus text-color-font-white"></i></button>
              <span class="quantity text-color-font-white px-1">1</span>
              <button class="increase-btn bg-color-border-gray p-2"><i class="fas fa-plus text-color-font-white"></i></button>
            </div>
          </div>
      </div>

      <div class="container__card-produtos relative border-2 border-color-border-gray rounded-lg flex items-center justify-between">
        <img src="../../../../../assets/images/burger.svg" alt="Imagem da produtos" >
          <div class="texto text-left">
            <h3 class="text-color-font-white">Cheese burger</h3>
            <h4 class="text-color-font-gray">Cheese burger</h4>
            <span class="text-color-font-white">R$ 24.00</span>
          </div>

          <div class="container__toggle bg-color-header flex items-center justify-between rounded-lg ">
            <div class="product-counter ">
              <button class="decrease-btn bg-color-border-gray p-2"><i class="fas fa-minus text-color-font-white"></i></button>
              <span class="quantity text-color-font-white px-1">1</span>
              <button class="increase-btn bg-color-border-gray p-2"><i class="fas fa-plus text-color-font-white"></i></button>
            </div>
          </div>
      </div>


    </div>
  </main>
</section>


