.container__card-produtos {
  box-shadow: 0px -1px 14px -4px rgba(0,0,0,0.75);
  transition: transform 0.3s ease-in-out;
}
.container__card-produtos:hover {
  transform: translateY(-5px);
}
button {
  border-radius: 50%;
}
h3{
  font-size: 24px;
}
p{
  margin-bottom: -5px;
}
