h3{
  font-size: 32px;
  font-weight: bold;
}

.btn {
  text-align: center;
  align-items: center;
  font-size: 20px;
}
.btnCadastro {
  cursor: pointer; /* Garante que o cursor seja uma "mãozinha" */
}

button, input, select, a{
  border-radius: 5px;
}


a:hover {
  transform: scale(1.02);
  opacity: 1;
}

select, input:focus {
  outline: none;
}

select > option {
  background-color: transparent;
}
.align-self-center {
  align-self: center;
}
.content__login {
  /* Outras propriedades existentes */
  border: 2px solid #333333; /* Exemplo de cor laranja; ajuste conforme necessário */
  border-radius: 16px; /* Ajuste o raio da borda conforme desejar */
}
