<section class="container__login pr-1 pl-1 bg-color-background min-h-screen flex flex-col">
  <main
    class="content__login bg-color-main border-t border-x border-color-font-orange flex flex-col justify-center items-center max-w-[1000px] w-full mx-auto py-9 px-8 mt-20 rounded-tl-2xl rounded-tr-2xl">
    <div class="container__imagem mb-8">
      <img src="../../../../assets/images/logo.png" width="300" alt="Logo da Burger Queen">
    </div>
    <div class="container__form w-full max-w-md">
      <h3 class="text-color-font-orange text-left mb-4">Login</h3>
      <form
        (ngSubmit)="onLogin()"
        class="space-y-4 mb-8 max-w-[500px] w-full"
        >
        <input
          class="text-color-font-white border border-color-font-orange bg-transparent p-2 w-full h-[50px]"
          [(ngModel)]="email"
          type="email"
          placeholder="Digite seu e-mail"
          name="email"
          id="email"
          required
          >
        <input
          class="text-color-font-white border border-color-font-orange bg-transparent p-2 w-full h-[50px]"
          [(ngModel)]="password"
          type="password"
          name="password"
          id="password"
          placeholder="Senha"
          required
          >
          <div class="flex justify-between items-center space-x-2.5">
            <a
              [routerLink]="['']"
              class="btn btnEntrar content-center text-color-font-white bg-color-font-orange p-2 w-full h-[50px] hover:bg-orange-600 hover:text-color-background">
              Entrar
            </a>
          </div>
      </form>
    </div>

    <footer class="py-8">
      <p class="text-color-font-white text-center">burgerQueen© 2024
        <em class="text-color-font-orange"><a href="https://elizabetefabri.github.io/">
            Desenvolvido por Elizabete Fabri
          </a></em>
      </p>
    </footer>
  </main>
</section>

