<section class="container__login pr-1 pl-1 bg-color-background min-h-screen flex flex-col">
  <main
    class="content__login bg-color-main border-t border-x border-color-font-orange flex flex-col justify-center items-center max-w-[1000px] w-full mx-auto py-9 px-4 mt-8 rounded-tl-2xl rounded-tr-2xl">
    <div class="container__imagem mb-8">
      <img src="../../../../assets/images/logo.png" width="300" alt="Logo da Burger Queen">
    </div>
    <div class="container__form w-full max-w-md">
      <h3 class="text-color-font-orange text-left mb-4">Login</h3>
      <form class="space-y-4 mb-8 max-w-[500px] w-full" aria-labelledby="formTitle">
        <input class="text-color-font-white border border-color-font-orange bg-transparent p-2 w-full h-[50px]"
          type="email" placeholder="Digite seu e-mail" required aria-label="Endereço de e-mail">
        <input class="text-color-font-white border border-color-font-orange bg-transparent p-2 w-full h-[50px]"
          type="password" name="login" id="login" placeholder="Senha" aria-label="Senha">

        <div class="flex justify-between items-center space-x-2.5">
          <select class="text-color-font-white border border-color-font-orange bg-transparent p-2 w-1/2 h-[50px]" name="" id="" aria-label="Selecione sua Função">
            <option class="text-color-font-orange" value="admin">Admin</option>
            <option class="text-color-font-orange" value="waiter">Garçonete</option>
            <option class="text-color-font-orange" value="chef">Chefe de cozinha</option>
          </select>

          <a href=""
            class="btn btnEntrar text-color-font-white bg-color-font-orange p-2 w-1/2 h-[50px] hover:bg-orange-600 hover:text-color-background"
            >Entrar</a>
        </div>
      </form>
      <section class="form-cadastro py-6 flex items-center w-full">
        <p class="text-color-font-orange w-1/3">Não possui cadastro?</p>
        <a href=""
          class="btn btnCadastro text-color-font-white bg-color-font-orange p-2 w-2/3 h-[50px] hover:bg-orange-600  hover:text-color-background"
          >Cadastre-se</a>
      </section>

    </div>

    <footer class="py-8">
      <p class="text-color-font-white text-center">burgerQueen© 2024
        <em class="text-color-font-orange"><a href="https://elizabetefabri.github.io/">
            Desenvolvido por Elizabete Fabri
          </a></em>
      </p>
    </footer>
  </main>
</section>
