<section class="container__login pr-1 pl-1 bg-color-background min-h-screen flex flex-col">
  <main
    class="content__login bg-color-main border-t border-x border-color-font-orange flex flex-col justify-center items-center max-w-[800px] w-full mx-auto py-9 px-8 mt-20 rounded-tl-2xl rounded-tr-2xl">
    <div class="container__imagem mb-8">
      <img src="../../../../assets/images/logo.png" width="300" alt="Logo da Burger Queen">
    </div>
    <div class="container__form w-full max-w-md">
      <h3 class="text-color-font-orange text-left mb-4">Login</h3>
      <form
        [formGroup]="loginData"
        (ngSubmit)="onLogin()"
        class="space-y-4 mb-8 max-w-[500px] w-full"
        >
        <input
          class="text-color-font-white border border-color-font-orange bg-transparent p-2 w-full h-[50px]"
          formControlName="email"
          type="email"
          placeholder="Digite seu e-mail"
          id="email"
          required
        >
        <div class="relative">
          <input
            class="text-white border border-color-font-orange bg-transparent pl-2 pr-10 w-full h-12"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            placeholder="Senha"
            id="password"
            required
          >
          <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-600">
            <mat-icon aria-hidden="false" class="text-3xl">
              {{ hide ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </div>
        <div class="flex justify-between items-center space-x-2.5">
          <button
            type="submit"
            class="btn btnEntrar content-center text-color-font-white bg-color-font-orange p-2 w-full h-[50px] hover:bg-orange-600 hover:text-color-background"
            [disabled]="loginData.invalid || loading">
            Entrar
          </button>
          </div>
      </form>
    </div>

    <footer class="py-8">
      <p class="text-color-font-white text-center">burgerQueen© 2024
        <em class="text-color-font-orange"><a href="https://elizabetefabri.github.io/">
            Desenvolvido por Elizabete Fabri
          </a></em>
      </p>
    </footer>
  </main>
</section>

