h3{
  font-size: 32px;
  font-weight: bold;
}

input, select, button{
  border-radius: 5px;
}

p {
  margin-top: 20px;
}
button:hover {
  transform: scale(1.02);
  opacity: 1;
}

select, input:focus {
  outline: none;
}

select > option {
  background-color: transparent;
}
