<header class="container__header bg-color-header text-color-font-white">
  <nav class="container__nav max-w-[1000px] w-full mx-auto flex justify-between items-center ">
    <div class="content__nav-logo flex items-center mt-8 mb-8">
      <h3 class="text-2xl">Escolha seu próximo cliente</h3>
    </div>
    <div class="content__nav-usuario-logado flex flex-col items-end">
      <p class="container_p text-xl">
        <!-- Aqui vai inserir a variavel do usuario logado -->
        Usuário
      </p>
      <span class="text-color-font-gray">
        <!-- Aqui vai verificar se o usuario esta logado e trazer a informação -->
        logado
        <!-- icone verde de logado -->
      </span>
      <!-- Icone de sair -->
      <div class="container__logout">
        <a [routerLink]="['/logout']">
          <i class="text-color-gray-icon fas fa-sign-out-alt"></i>
        </a>
      </div>
    </div>
  </nav>
</header>

<app-cards-mesa></app-cards-mesa>
