<!-- COMPONETE PAGINA DE REGISTRAR MESA -->
<app-header></app-header>

<section class="container__registra-mesa pr-1 pl-1 bg-color-background-logado flex flex-col">
  <main class="container__main max-w-[1000px] w-full mx-auto mt-5">
    <div class="container__card grid grid-cols-4 gap-2 items-center">
      <app-cards-mesa mesaNumero="01"></app-cards-mesa>
      <app-cards-mesa mesaNumero="02"></app-cards-mesa>
      <app-cards-mesa mesaNumero="03"></app-cards-mesa>
      <app-cards-mesa mesaNumero="04"></app-cards-mesa>
    </div>
  </main>
</section>


