<mat-tab-group color="success">
  <mat-tab label="Bebidas">
    <app-cards-pedido
      type="Beverages"
      (totalEmmiter)="registraTotal($event)"
    >
    </app-cards-pedido>
  </mat-tab>
  <mat-tab label="Lanches">
    <app-cards-pedido
    type="Lunch"
    (totalEmmiter)="registraTotal($event)"
    ></app-cards-pedido>
  </mat-tab>
  <mat-tab label="Café da manhã">
    <app-cards-pedido
    type="Breakfast"
    (totalEmmiter)="registraTotal($event)"
    ></app-cards-pedido>
  </mat-tab>
  <mat-tab label="Finalizar pedido">
    <app-finalizar-pedido></app-finalizar-pedido>
  </mat-tab>
</mat-tab-group>
