<mat-tab-group color="success">
  <mat-tab label="Cadastrar Cliente">
    <app-registrar-cliente></app-registrar-cliente>
  </mat-tab>
  <mat-tab label="Bebidas">
    <app-cards-pedido type="Beverages"></app-cards-pedido>
  </mat-tab>
  <mat-tab label="Lanches">
    <app-cards-pedido type="Lunch"></app-cards-pedido>
  </mat-tab>
  <mat-tab label="Café da manhã">
    <app-cards-pedido type="Breakfast"></app-cards-pedido>
  </mat-tab>
  <mat-tab label="Finalizar pedido">
    <app-finalizar-pedido [selectedProducts]="selectedProducts"></app-finalizar-pedido>
  </mat-tab>
</mat-tab-group>
