<mat-tab-group color="success">
  <mat-tab label="Bebidas">
    <app-cards-pedido
      type="Beverages"
      (totalEmmiter)="registraTotal($event)"
    >
    </app-cards-pedido>
    <!-- COMPONENTE DEMOSTRATIVO DE TOTALIZAR O PEDIDO -->
    <section class="max-w-[1000px] mx-auto p-1 bg-color-background-logado flex justify-center items-center rounded-lg">
      <main class="sombra w-full  border-2 border-color-border-gray rounded-lg text-white p-6">
        <app-total-pedido [totalPedido]="totalPedido"></app-total-pedido>
      </main>
    </section>
  </mat-tab>
  <mat-tab label="Lanches">
    <app-cards-pedido
    type="Lunch"
    (totalEmmiter)="registraTotal($event)"
    ></app-cards-pedido>
    <!-- COMPONENTE DEMOSTRATIVO DE TOTALIZAR O PEDIDO -->
    <section class="max-w-[1000px] mx-auto p-1 bg-color-background-logado flex justify-center items-center rounded-lg">
      <main class="sombra w-full  border-2 border-color-border-gray rounded-lg text-white p-6">
        <app-total-pedido [totalPedido]="totalPedido"></app-total-pedido>
      </main>
    </section>
  </mat-tab>
  <mat-tab label="Café da manhã">
    <app-cards-pedido
    type="Breakfast"
    (totalEmmiter)="registraTotal($event)"
    ></app-cards-pedido>
    <!-- COMPONENTE DEMOSTRATIVO DE TOTALIZAR O PEDIDO -->
    <section class="max-w-[1000px] mx-auto p-1 bg-color-background-logado flex justify-center items-center rounded-lg">
      <main class="sombra w-full  border-2 border-color-border-gray rounded-lg text-white p-6">
        <app-total-pedido [totalPedido]="totalPedido"></app-total-pedido>
      </main>
    </section>
  </mat-tab>
  <mat-tab label="Finalizar pedido">
    <app-finalizar-pedido>
      <app-total-pedido [totalPedido]="totalPedido"></app-total-pedido>
    </app-finalizar-pedido>
  </mat-tab>
</mat-tab-group>
