<header class="container__header p-5 bg-color-header text-color-font-white">
  <nav class="max-w-[850px] h-12 w-full mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <a routerLink="/registrar-mesa" class="flex items-center text-color-font-gray">
        <mat-icon aria-hidden="false" fontIcon="first_page" class="text-color-font-gray h-10 w-10"></mat-icon>
      </a>
    </div>

    <div class="flex items-center">
      <a href="" class="flex items-center pr-10">
        <!-- <mat-icon aria-hidden="false" fontIcon="assignment" class="text-color-font-gray h-10 w-10"></mat-icon> -->
        <span class=" text-color-font-orange">
          <em class="text-color-font-orange pr-2">Mesa</em>{{ mesaId }}
        </span>
      </a>
      <a href="" class="flex items-center text-color-font-gray pr-10">
        <!-- <mat-icon aria-hidden="false" fontIcon="admin_panel_settings" class="text-color-font-gray h-10 w-10"></mat-icon> -->
        <em class="">Admin</em>
      </a>
      <a (click)="deslogar()" class="flex items-center text-color-font-gray">
        <!-- <mat-icon aria-hidden="false" fontIcon="logout" class="text-color-font-gray h-10 w-10"></mat-icon> -->
        <em class="">Sair</em>
      </a>
    </div>
  </nav>
</header>
