<header class="container__header p-10 bg-color-header text-color-font-white">
  <nav class="max-w-[1000px] w-full mx-auto flex justify-between items-center">
    <!-- Agrupamento do primeiro link -->
    <div class="flex items-center">
      <a routerLink="/registrar-mesa" class="flex items-center text-color-font-gray">
        <i class="fas fa-arrow-left mr-2 text-color-font-gray close"></i>
      </a>
    </div>

    <!-- Agrupamento dos links do meio -->
    <div class="flex-1 flex justify-center items-center space-x-4">
      <a href="" class="flex items-center text-white">
        <em class="border-b-2 border-gray-400"></em>
      </a>
      <a href="" class="flex items-center text-color-font-gray">
        <em class="pr-2 pb-3">Mesa {{ mesaId }}</em>
        <mat-icon aria-hidden="false" fontIcon="edit_note" class="text-4xl text-color-font-gray"></mat-icon>
      </a>
    </div>

    <!-- Agrupamento do último link -->
    <div class="flex items-center">
      <a (click)="deslogar()" class="flex items-center text-color-font-gray">
        <i class="text-color-font-gray fas fa-sign-out-alt close pl-2"></i>
      </a>
    </div>
  </nav>
</header>
