<!-- COMPONENTE DO BOTTAO TOGGLE -->
<div class="absolute bottom-0 right-0 p-1 bg-color-header flex items-center rounded-lg">
  <div class="product-counter flex items-center">
    <button
      (click)="decreaseQuantity()"
      class="decrease-btn bg-color-border-gray p-1 rounded-full flex items-center justify-center">
      <mat-icon aria-hidden="false" fontIcon="remove" class="text-white"></mat-icon>
    </button>
    <span class="quantity text-white px-2 text-md flex items-center">{{ quantity }}</span>
    <button
      (click)="increaseQuantity()"
      class="increase-btn bg-color-border-gray p-1 rounded-full flex items-center justify-center">
      <mat-icon aria-hidden="false" fontIcon="add" class="text-white"></mat-icon>
    </button>
  </div>
</div>
